<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Number Verifier</title>
        <link rel="stylesheet" href="style.css" title="Style">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    </head>

    <body>

        <div>
            <h1><u>Check Before Text</u></h1>
            <h2>Got someone's number? Check it's the real deal.</h2>
        </div>

        <div>
           <a href="/search">Verify Number</a>
           <br>
           <a href="/history" >View History</a>
           
        </div>

        <br>
        <hr>
        <footer>
            Brought to you by the API: <strong>NumVerify</strong> &copy
        </footer>
        <br>


    </body>

</html>