<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Admin GFA</title>
	    <link rel="stylesheet" href="style.css" title="Style">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	<h1>History Cleared</h1>

	<a href="/">Return to Home</a>
	<br>
</body>

</html>

<script>
    window.onsubmit = () => {
		return window.confirm(`Are you sure you want to remove all applications?\n`);
	  }
</script>