<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Number Verifier</title>

        <link rel="stylesheet" href="style.css" title="Style">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>

    <body>
        <div>
            <h1><u>Check Before Text</u></h1>
        </div>

        <hr>

        <div>
            <h2>This number is: <%-valid %></h2>
            <%-message %>

            <br><a href="/">Return to Home</a>
        </div>
        <br>
        <br>

    </body>


</html>